body {
    background: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: #4c4c4c;
    /*overflow-x: hidden;*/
}

header {
    position: relative;
    height: 81vh;
}

header .navbar {
    background-color: rgba(242, 242, 242, 0.97);
    position: fixed;
    top:0;
    height: 70px;
    width: 100%;
    text-align: right;
    z-index: 10000;
    padding: 1px;
}

header .navbar.sticky {
    background-color: rgba(237, 237, 237, 0.97);
}

header .nav_container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar li {
    display: inline-block;
    padding: 0 15px;
}

header .navbar a{
    display: block;
    height: 70px;
    line-height: 70px;
    color: #555;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

header .navbar a:hover, header .navbar a:active {
    color: #3498db;
}

header .logo {
    width: 170px;
    height: 70px;
    padding: 0 15px;
    position: absolute;
    line-height: 70px;
}


header .logo a{
    color: #1b6d85;
    font-weight: 800;
    font-size: 28px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
}

.slider_bg .bg {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider_bg .bg_1 {
    background-image: url('images/bg_images/bg_image1.jpg');
}

.slider_bg .bg_2 {
    background-image: url('images/bg_images/bg_image2.jpg');
    opacity: 0;
}

.slider_bg .bg_3 {
    background-image: url('images/bg_images/bg_image3.jpg');
    opacity: 0;
}

header .header_quote_container {
    height: 100%;
}

header .header_quote {
    padding: 20px;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}

header .header_quote p {
    margin: 0;
}

header .arrow {
    padding: 20px;
}

header polyline {
    stroke-width: 1.9;
}








#main {
    padding-bottom: 70px;
    background: white;
    position: relative;
}

#main .accordion_wrapper {
    max-width: 600px;
    padding: 40px 40px 10px;
    margin: auto;
}

#main .accordion_wrapper li {
    margin: 0;
    padding: 12px;
}

#main .accordion_wrapper li:hover {
    background-color: rgba(200,200,200,.2);
}

#main .accordion_wrapper li.uk-open {
    background-color: white;
}

#main .accordion_wrapper li .accordion_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: -3px;
    margin-right: 9px;
}

.uk-accordion-title::after {
    content: "";
    width: 1.5em;
    height: 1.5em;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%3E%3C%2Fpolyline%3E%0A%3C%2Fsvg%3E");
}

.uk-accordion-content {
    margin-top: 4px;
}

#main .quote_about {
    margin: auto;
    max-width: 800px;
    text-align: justify;
}

#main p{
    margin: 20px 0;
}

#main .about .about_cards_wrapper {
    position: relative;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    min-height: 310px;
    /*margin-bottom: 30px;*/
}

#main .about .about_card {
    height: 100%;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    cursor: default;
    padding: 40px 37px 10px 37px;
    margin-left: -20px;
    margin-right: 20px;
}

#main .about .about_card h3{
    line-height: 1.1;
}

#main .about .about_card:hover {
    box-shadow: 0 14px 25px rgba(0,0,0,.2);
}

#main .about .about_card_1:hover, #main .about .about_card.active_design_card {
    box-shadow: 0 14px 25px rgba(142, 177, 199,.8);
}

#main .about .about_card_1 {
   cursor: pointer;
}

#main .about .about_cards_wrapper a{
    text-decoration: none;
}

#main #design_variants_section {
    margin-top: 20px;
}

#main .about #design_variants {
    height: 940px;
    background-color: white;
    padding: 40px 0 0 0;
    display: none;
    position: relative;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

#main .about .design_variants_block {
    height: 100%;
    background-color: #f2f2f2;
    box-shadow: none;
    padding-left: 25px;
    padding-right: 25px;
}

#main .about .design_variants_block li {
    margin-top: 7px;
}

#main .about #design_variants .uk-grid {
    margin-left: -30px;
}

#main .about #design_variants .uk-grid>* {
    padding-left: 30px;
}

.design_variants_block .price h3{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 5px;
}

.design_variants_block .price h3 + div {
    font-size: 32px;
    font-weight: 500;
}

.design_variants_block .price h3 + div .small{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
}

.design_variants_block ul {
    padding: 0;
    text-align: left;
}

#main #calculator_section {
    padding-bottom: 50px;
}

#main .calc_button {
    padding: 0 200px;
    margin: 60px auto;
    background-color: white;
    border: 1px solid silver;
}

.close_calculator_button {
    position: absolute;
    top: 20px;
    right: 20px;
}

#main .calc_button:active, #main .calc_button:hover {
    border: 1px solid rgba(99,99,99,.6);
}

#main #calculator {
    height: 700px;
    background-color: white;
    display: none;
    position: relative;
    width: 930px;
    margin: auto;
    margin-top: 10px;
}

#calculator .calculator_wrapper {
    height: 100%;
    box-shadow: 0 0 34px 9px rgba(0,0,0,.08);
}

#calculator b{
    font-weight: 600;
}

#calculator .calculator_wrapper .result_wrapper {
    text-align: center;
}


#calculator .calculator_wrapper .result {
    display: inline-block;
    max-width: 270px;
    width: 90%;
    height: 50px;
    border: 1px solid lightgrey;
    line-height: 50px;
    margin: 20px 0;
    font-size: 33px;
    font-weight: 200;
}

input.area_input {
    width: 90px;
    text-align: center;
}

#calculator .uk-button {
    padding: 0 20px;
}

/*стили для чекбокса*/
.cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}
.cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
.lbl {
    margin-left: 7px;
    cursor: pointer;
}
.cbx_input:checked ~ .cbx {
    border-color: transparent;
    background: #1e87f0;
    animation: jelly 0.6s ease;
}
.cbx_input:checked ~ .cbx:after  {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

#main .small_gallery .small_gallery_block img ,  #main .works_wrapper img{
    width: 100%;
}

#main h2{
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #696969;
    text-transform: uppercase;
    width: auto;
    padding: 90px 0 50px;
    margin: 0 auto;
    text-align: center;
}

#main h2.small_paddings_h2 {
    padding: 90px 0 30px;
}

#main .works_wrapper {
    max-width: 1000px;
    margin: auto;
    width: 90%;
}

#main .gallery_wrapper {
    max-width: 1800px;
    margin: auto;
    width: 100%;
}

#main .gallery_wrapper .uk-overlay {
    padding: 15px 15px;
}

.uk-lightbox.uk-open {
    z-index: 10005;
}






.totopBtn {
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 9px;
    background-color: whitesmoke;
}

.totopBtn svg {
    width: 35px;
    height: 32px;
}





footer {
    background-color: #3c3c3c;
}

footer #feedback_section {
    height: 450px;
    background-color: grey;
}

footer .feedback_wrapper {
    padding: 30px 0;
    width: 90%;
    margin: auto;
}

footer .footer_hr {
    height: 10px;
    background-color: #3498db;
}

footer .footer_info_wrapper {
    width: 90%;
    margin: auto;
    min-height: 250px;
}

footer .footer_block {
    padding: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

footer .footer_copy {
    min-height: 50px;
    background-color: #222;
    padding: 10px 5%;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 12px;
}

footer .footer_about ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .footer_about ul li{
    padding: 0 15px;
}

footer .footer_about ul li a{
    display: block;
    height: 20px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: 500;
    letter-spacing: 1px;
}

footer .footer_about ul li a:hover, footer .footer_about ul li a:active {
    color: #3498db;
}

footer .footer_social {
    text-align: right;
}

footer .social {
    display: inline-block;
    vertical-align: middle;
    background-color: #0e6dcd;
    margin-right: 3px;
    width: 45px;
    height: 45px;
    background: url("images/social/social_icons.png");
    background-size: cover;
}

footer .vk {
    background-position: 0 0;
}

footer .vk:hover {
    background-position: -45px 0;
}

footer .fb {
    background-position: -90px 0;
}

footer .fb:hover {
    background-position: -135px 0;
}

footer .inst{
    background-position: -180px 0;
}

footer .inst:hover {
    background-position: -225px 0;
}







.justify_text{
    text-align: justify;
}

.transition {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
}

.center {
    text-align: center;
}

.menu_Btn, #menu, .small_logo_footer {
    display: none;
}

@-moz-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@-o-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}














@media (max-width: 1200px) {
    #main .about #design_variants {
        height: 990px;
        width: 95%;
    }
    #main .about #design_variants .uk-grid {
        margin-left: 0;
    }
    #main .about #design_variants .uk-grid > * {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1110px) {
    #main .about #design_variants {
        width: 100%;
    }
    header .nav_container {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    header .nav_container {
       padding-left: 5px;
       padding-right: 5px;
    }
    header .navbar li {
        padding: 0 10px;
    }
    #main .about #design_variants {
        height: 1010px;
    }
    #main .about .design_variants_block {
        padding-left: 20px;
        padding-right: 20px;
    }
    #main .quote_about {
        max-width: 720px;
    }
}

@media (max-width: 1000px) {
    #main .about .about_card p{
        text-align: center;
    }
    #main .about #design_variants {
        height: 1030px;
    }
}



@media (max-width: 959px) {
    header .logo {
        display: none;
    }
    header .navbar {
        text-align: center;
    }
    #main .quote_about {
        max-width: 650px;
    }
    #main .accordion_wrapper {
        padding: 35px 30px 10px;
    }
    #main .accordion_wrapper p {
        margin: 10px 0;
    }
    #main .accordion_wrapper li {
        padding: 9px;
    }
    #main .accordion_wrapper li .accordion_icon {
        width: 27px;
        height: 27px;
    }
    #main .about .design_variants_block {
        padding-left: 30px;
        padding-right: 30px;
        width: 60%;
        margin: auto;
        border: 5px solid white;
    }
    #main .about #design_variants {
        height: 2200px;
    }
    #main #calculator {
        height: 1020px;
        width: 80%;
        margin: auto;
    }
    label {
        margin-bottom: .4rem;
    }
    #main .works_wrapper {
        width: 100%;
    }
    #main .about .about_cards_wrapper {
        width: 96%;
    }
    footer .footer_info_wrapper {
        width: 100%;
    }
}


@media (max-width: 840px) {
    #main .quote_about {
        max-width: 600px;
    }
    #main .accordion_wrapper {
        padding: 35px 20px 10px;
        max-width: 540px;
    }
    #main .accordion_wrapper p {
        margin: 8px 0;
    }
    #main .accordion_wrapper li {
        padding: 7px;
    }
    #main .accordion_wrapper li .accordion_icon {
        width: 24px;
        height: 24px;
    }
    .uk-accordion-title {
        font-size: 20px;
    }
    #main .about .about_card h3 {
        line-height: 1.05;
        font-size: 20px;
    }
    #main .about .about_card p {
        margin: 18px 0;
    }
    #main .about .design_variants_block li {
        margin-top: 5px;
    }

    #calculator .buttons button{
        margin: 5px;
    }
    #main .about #design_variants {
        height: 2150px;
    }
}

@media (max-width: 820px) {
    header .logo  {
        display: block;
        right: 0;
        height: 55px;
        line-height: 55px;
    }
    .nav_container {
        display: none;
    }
    header .navbar {
        height: 55px;
    }
    header .navbar a{
        height: 55px;
        line-height: 55px;
    }
    .menu_Btn {
        display: block;
        color: #555;
        text-align: center;
        padding: 0 15px;
        line-height: 55px;
        cursor: pointer;
        width: 140px;
        height: 55px;
        text-transform: uppercase;
        font-size: 11.5px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
    }
    .menu_Btn span {
        position: relative;
        top: -1px;
    }
    .menu_Btn:hover, .menu_Btn:active,  #menu  a:hover, #menu  a:active   {
         color: #3498db;
    }
    #menu {
        background-color: rgba(240, 240, 240, 0.97);
        width: 300px;
        height: 100%;
        position: fixed;
        z-index: 9000;
        padding-top: 55px;
        white-space: nowrap;
    }
    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #menu a{
        display: block;
        height: 40px;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 11.5px;
        color: #555;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 10px 27px;
    }
    footer .footer_block {
        padding: 40px;
    }

}


@media (max-width: 800px) {
    #main .about .design_variants_block {
        width: 70%;
    }
    #main .about #design_variants {
        height: 2100px;
    }
    #main .about .about_cards_wrapper {
        width: 100%;
    }
    #main .about .about_card {
        padding: 40px 15px 10px;
        margin-left: -20px;
        margin-right: 10px;
    }
}


@media (max-width: 760px) {
    footer .footer_about {
      padding-left: 0;
      padding-right: 0;
    }
}



@media (max-width: 740px) {
    #main .quote_about {
        max-width: 500px;
    }
    #main .accordion_wrapper {
        max-width: 490px;
    }
    #main .about .design_variants_block {
        width: 80%;
    }
    footer .footer_social {
        padding-left: 0;
    }
    footer .footer_logo {
        padding-right: 0;
    }
}


@media (max-width: 639px) {
    #main .quote_about {
        max-width: 450px;
    }
    #main .accordion_wrapper {
        max-width: 420px;
    }
    #main .about .about_card {
        padding: 40px 25% 20px;
    }
    #main .about .design_variants_block {
        width: 90%;
    }
    #main .calc_button {
        padding: 0 110px;
    }
    #main #calculator {
        width: 90%;
    }
    footer .footer_info_wrapper {
        padding: 40px 30px 10px;
    }
    footer .footer_block {
        padding: 0;
    }
}

@media (max-width: 600px) {
    footer .footer_logo{
        display: none;
    }
    footer .footer_block {
        width: 50%;
    }
    footer .small_logo_footer {
        display: block;
    }
}



@media (max-width: 550px) {
    #main .quote_about {
        max-width: 410px;
    }
    .works_wrapper .uk-child-width-1-2 > * {
        width: 100%;
    }
}

@media (max-width: 535px) {
    #main .about .design_variants_block {
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 505px) {
    #main #calculator {
        height: 980px;
    }
    #main .calc_button {
        padding: 0 100px;
    }
    .cbx {
        display: inline-block;
    }
    label {
        display: inline;
    }
    input.area_input {
        width: 75px;
        text-align: center;
    }
}


@media (max-width: 477px) {
    #main #calculator {
        height: 1070px;
    }
    #main .quote_about {
        max-width: 370px;
    }
    #main .accordion_wrapper {
        max-width: 370px;
    }
    .uk-accordion-title {
        font-size: 18px;
    }
    .uk-accordion-title::after {
        width: 10px;
        height: 10px;
    }
    #main .about #design_variants {
        height: 2170px;
    }
    #main .about .design_variants_block li {
        margin-top: 4px;
    }
}



@media (max-width: 450px) {
    .hide450 {
        display: none;
    }
    #main .quote_about {
        width: 78%;
    }
    #main .accordion_wrapper {
        padding: 35px 10px 10px;
        max-width: 350px;
        width: 80%;
    }
    #main #calculator {
        width: 95%;
    }
    #main .about #design_variants .uk-grid > * {
        padding-left: 0;
        padding-right: 0;
    }
    #main .about .design_variants_block {
        width: 100%;
        border: none;
    }
    #main .about #design_variants {
        height: 2100px;
    }
}

@media (max-width: 414px) {
    #main .about #design_variants {
        height: 2150px;
    }
    #main .calc_button {
        padding: 0 20%;
    }
    footer .footer_info_wrapper {
        padding: 40px 24px 10px;
    }
}


@media (max-width: 392px) {
    #main #calculator {
        height: 1090px;
    }
    footer .footer_info_wrapper {
        padding: 40px 15px 10px;
    }
}

@media (max-width: 383px) {
    #main h2 {
        font-size: 29px;
    }
    #main #calculator {
        height: 1105px;
    }
    footer .footer_about {
        width: 60%;
    }
    footer .footer_social {
        width: 40%;
    }
    footer .social {
        margin-right: 0;
        width: 40px;
        height: 40px;
    }
    footer .vk:hover {
        background-position: -40px 0;
    }

    footer .fb {
        background-position: -80px 0;
    }

    footer .fb:hover {
        background-position: -120px 0;
    }

    footer .inst{
        background-position: -160px 0;
    }

    footer .inst:hover {
        background-position: -200px 0;
    }
}

@media (max-width: 377px) {
    #main #calculator {
        height: 1115px;
    }
    .close_calculator_button {
        top: 15px;
        right: 15px;
    }
}


@media (max-width: 362px) {
    #main #calculator {
        height: 1130px;
    }
}

@media (max-width: 355px) {
    #main #calculator .uk-card-body {
        padding: 30px 24px;
    }
    #main .about #design_variants {
        height: 2190px;
    }
    footer .footer_about {
        width: 100%;
    }
    footer .footer_social {
        width: 100%;
    }
    footer .footer_social {
        text-align: center;
    }
}


@media (max-width: 350px) {
    #main .about #design_variants {
        height: 2220px;
    }
}

@media (max-width: 345px) {
    #main #calculator {
    height: 1210px;
    }
    #main .about #design_variants {
        height: 2250px;
    }
}

@media (max-width: 335px) {
    #main #calculator {
        height: 1250px;
    }
    #main .about #design_variants {
        height: 2270px;
    }
}

@media (max-width: 330px) {
    #main #calculator {
        height: 1270px;
    }
    #main .about #design_variants {
        height: 2275px;
    }
}

@media (max-width: 325px) {
    #main #calculator {
        height: 1290px;
    }
    #main .about #design_variants {
        height: 2330px;
    }
}

@media (max-width: 320px) {
    #main .about #design_variants {
        height: 2380px;
    }
}

@media (max-width: 310px) {
    #main #calculator {
        height: 1310px;
    }
    #main .about #design_variants {
        height: 2450px;
    }
}

@media (max-width: 300px) {
    #menu {
        width: 100%;
    }
    #main #calculator {
        height: 1390px;
    }
    #main .about #design_variants {
        height: 2550px;
    }
}

@media (max-width: 285px) {
    #main #calculator {
        height: 1430px;
    }
    #main .about #design_variants {
        height: 2600px;
    }
}