<!DOCTYPE html>
<html lang="en" ng-app="designApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Design</title>
  <meta name="keywords" content="design">
  <meta name="description" content="design">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="uikit/css/uikit.min.css"> <!-- uikit -->
  <script src="uikit/js/jquery.js"></script> <!-- uikit -->
  <script src="uikit/js/uikit.min.js"></script> <!-- uikit -->
  <script src="uikit/js/uikit-icons.min.js"></script> <!-- uikit -->
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  <link href="feedback/css/jquery.jgrowl.css" rel="stylesheet" type="text/css">
  <link href="feedback/css/jquery.arcticmodal.css" rel="stylesheet" type="text/css">


</head>
<body ng-controller="mainController">

  <header class="uk-light" id="header_section">
      <div class="slider_bg">
              <div class="bg_1 bg"></div>
              <div class="bg_2 bg"></div>
              <div class="bg_3 bg"></div>
      </div>
      <a ng-click="previousBgImage()" class="uk-position-center-left uk-slidenav-large arrow" href="" uk-slidenav-previous></a>
      <a ng-click="nextBgImage()" class="uk-position-center-right uk-slidenav-large arrow" href="" uk-slidenav-next></a>
     <!--<div class="nav_wrapper">-->
      <div class="navbar transition" uk-navbar>
          <div class="menu_Btn" ng-show="!flag_menu" ng-click="showMenu()"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Меню </div>
          <div class="menu_Btn" ng-show="flag_menu" ng-click="showMenu()"><span class="uk-margin-small-right" uk-icon="icon: close"></span> Меню </div>
          <div class="logo"><a href="#" uk-scroll>LOGO</a></div>
          <div class="nav_container">
              <ul>
                <li><a href="#about_section" uk-scroll="offset:30">О нас</a></li>
                <li><a href="#services" uk-scroll="offset:210" >Виды услуг</a></li>
                <li><a ng-click="slideDownDesignVariants()" href="#design_variants_section" uk-scroll="offset:50">дизайн интерьера</a></li>
                <li><a ng-click="slideDownCalculator()" href="#calculator_section" uk-scroll="offset:30">калькулятор</a></li>
                <li><a href="#works_section" uk-scroll="offset:30">Последние работы</a></li>
                <li><a href="#gallery_section" uk-scroll="offset:30">Галерея</a></li>
                <li><a href="#footer_section" uk-scroll>Контакты</a></li>
              </ul>
          </div>
      </div>
      <div id="menu">
          <ul>
              <li ng-click="hide()"><a href="#about_section" uk-scroll="offset:30">О нас</a></li>
              <li ng-click="hide()"><a href="#services" uk-scroll="offset:210" >Виды услуг</a></li>
              <li ng-click="hide()"><a ng-click="slideDownDesignVariants()" href="#design_variants_section" uk-scroll="offset:50">дизайн интерьера</a></li>
              <li ng-click="hide()"><a ng-click="slideDownCalculator()" href="#calculator_section" uk-scroll="offset:30">калькулятор</a></li>
              <li ng-click="hide()"><a href="#works_section" uk-scroll="offset:30">Последние работы</a></li>
              <li ng-click="hide()"><a href="#gallery_section" uk-scroll="offset:30">Галерея</a></li>
              <li ng-click="hide()"><a href="#footer_section" uk-scroll>Контакты</a></li>
          </ul>
      </div>
     <!--</div>-->
      <div class="header_quote_container uk-flex uk-flex-center uk-flex-middle">
          <div class="header_quote" uk-scrollspy="cls:uk-animation-slide-bottom-medium; repeat: true;">
                  <p>Мы создаем дизайн</p>
          </div>
      </div>
  </header>


  <div id="main">
        <a href="#" uk-totop uk-scroll class="totopBtn"></a>
        <section class="about" id="about_section">
            <h2 class="small_paddings_h2">О нас</h2>
            <div class="quote_about">
                <p>
                    Команда креативных и опытных специалистов, способных преобразить любое помещение, сделать его красивым, стильным и очень комфортным.
                    Мы ориентируемся в первую очередь на функциональность пространства и его суть. И самое главное, мы сохраняем энтузиазм и личностный
                    подход к каждому новому объекту, не превращаясь в завод по производству дизайн-проектов.
                </p>
                <p>
                    У нас вы можете заказать дизайн-проект интерьера как жилой, так и коммерческой недвижимости. Мы разрабатываем в полном объеме
                    дизайн-проект интерьера, от чертежей до подбора мебели и авторского надзора.
                </p>
            </div>
            <div class="accordion_wrapper">
                <ul uk-accordion="collapsible: false">
                    <li>
                        <h3 class="uk-accordion-title">
                            <div class="accordion_icon"><img src="images/icons/1point.png"></div>Опыт и профессионализм
                        </h3>
                        <div class="uk-accordion-content">
                            <p>
                                Профильное образование и опыт позволят дать Вам ответ на любой вопрос
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">
                            <div class="accordion_icon"><img src="images/icons/2point.png"></div>Поэтапная оплата работ
                        </h3>
                        <div class="uk-accordion-content">
                            <p>
                                Оплата производится после завершения каждого этапа и только по факту выполненных работ
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">
                            <div class="accordion_icon"><img src="images/icons/3point.png"></div>Скорость выполнения и соблюдение сроков
                        </h3>
                        <div class="uk-accordion-content">
                            <p>
                                Мы ценим и экономим Ваше время, сроки выполнения работ сведены к минимальным, однако не в ущерб качеству работ
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">
                            <div class="accordion_icon"><img src="images/icons/4point.png"></div>Авторский дизайн
                        </h3>
                        <div class="uk-accordion-content">
                            <p>
                                С нами Вы получите исключительно индивидуальный и эксклюзивный результат
                            </p>
                        </div>
                    </li>
                    <li>
                        <h3 class="uk-accordion-title">
                            <div class="accordion_icon"><img src="images/icons/5point.png"></div>Прозрачная стоимость услуг
                        </h3>
                        <div class="uk-accordion-content">
                            <p class="uk-link-muted">
                                У нас на сайте Вы найдёте <a href="#calculator_section" uk-scroll="offset:30">калькулятор</a>, с помощью которого Вы сможете рассчитать стоимость всех услуг
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <h2>Наши уcлуги</h2>
            <div class="about_cards_wrapper uk-child-width-1-3@s" uk-grid id="services">
                <div uk-scrollspy="cls:uk-animation-slide-bottom-medium; repeat:true">
                    <a href="" ng-click="showDesignVariants()" >
                            <div ng-class="{'active_design_card':flag_activeDesignCard}" class="about_card about_card_1 uk-card uk-card-default uk-card-body uk-card-hover">
                                <h3 class="uk-card-title">Дизайн-проект жилых интерьеров </h3>
                                <p class="justify_text">Базовые пакеты услуг, а также возможность выбрать только необходимые Вам услуги</p>
                                <p><span class="uk-label uk-label-success">от 11$ за м<sup>2</sup></span></p>
                                <button class="uk-button uk-button-default">Подробнее</button>
                            </div>
                    </a>
                </div>
                <div uk-scrollspy="cls:uk-animation-slide-bottom-medium; repeat:true">
                    <a href="" ng-click="hideDesignVariants()">
                            <div class="about_card uk-card uk-card-default uk-card-body uk-card-hover">
                                <h3 class="uk-card-title">Дизайн объектов коммерческой недвижимости</h3>
                                <p class="justify_text"> Планируете открыть новый коммерческий объект? Мы создадим для Вас целостную концепцию</p>
                                <p><span class="uk-label uk-label-success">от 23$ за м<sup>2</sup></span></p>
                            </div>
                    </a>
                </div>
                <div uk-scrollspy="cls:uk-animation-slide-bottom-medium; repeat:true">
                    <a href="" ng-click="hideDesignVariants()">
                            <div class="about_card uk-card uk-card-default uk-card-body uk-card-hover">
                                <h3 class="uk-card-title">Архитектурный дизайн и дизайн фасадов зданий</h3>
                                <p class="justify_text">Вы хотите сделать свой дом красивым и гармоничным? Советуем начать с его фасадов!</p>
                                <p><span class="uk-label uk-label-success">от 700$ за проект</span></p>
                            </div>
                    </a>
                </div>
            </div>
            <div id="design_variants_section">
                <div id="design_variants">
                    <div class="uk-text-center uk-child-width-1-3@m" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body design_variants_block first_block">
                                <div class="price">
                                    <h3>Базовый</h3>
                                    <div>$11 <span class="small">м<sup>2</sup></span></div>
                                </div>
                                <ul class="uk-list uk-list-bullet">
                                    <li>Обмерный план </li>
                                    <li>Планировочное решение (3 варианта) </li>
                                    <li>План демонтируемых конструкций </li>
                                    <li>План монтируемых конструкций </li>
                                    <li>План напольных покрытий</li>
                                    <li>Экспликация полов </li>
                                    <li>План-схема отопительных приборов и теплых полов </li>
                                    <li>План размещения сантехнического оборудования</li>
                                    <li>Раскладка плитки по стенам</li>
                                    <li>План уровней потолков</li>
                                    <li>План освещения </li>
                                    <li>План розеток и выключателей </li>
                                    <li>Ведомость отделочных материалов </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body design_variants_block second_block">
                                <div class="price">
                                    <h3>Стандарт</h3>
                                    <div>$20 <span class="small">м<sup>2</sup></span></div>
                                </div>
                                <ul class="uk-list uk-list-bullet">
                                    <li>Обмерный план </li>
                                    <li>Планировочное решение (3 варианта) </li>
                                    <li>План демонтируемых конструкций </li>
                                    <li>План монтируемых конструкций </li>
                                    <li>План-схема дверных проемов</li>
                                    <li>План напольных покрытий</li>
                                    <li>Спецификация напольных покрытий </li>
                                    <li>Экспликация полов </li>
                                    <li>План-схема отопительных приборов и теплых полов </li>
                                    <li>План размещения сантехнического оборудования</li>
                                    <li>Спецификация приборов и оборудования</li>
                                    <li>Раскладка плитки по стенам</li>
                                    <li>План уровней потолков</li>
                                    <li>План освещения </li>
                                    <li>Спецификация светильников</li>
                                    <li>План розеток и выключателей </li>
                                    <li>Спецификация розеток и выключателей</li>
                                    <li>Развертки по стенам</li>
                                    <li>Ведомость отделочных материалов </li>
                                    <li>3D визуализация помещений </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body design_variants_block third_block">
                                <div class="price">
                                    <h3>Комплексный</h3>
                                    <div>$27 <span class="small">м<sup>2</sup></span></div>
                                </div>
                                <ul class="uk-list uk-list-bullet">
                                    <li>Обмерный план </li>
                                    <li>Планировочное решение (3 варианта) </li>
                                    <li>План демонтируемых конструкций </li>
                                    <li>План монтируемых конструкций </li>
                                    <li>План-схема дверных проемов</li>
                                    <li>План напольных покрытий</li>
                                    <li>Спецификация напольных покрытий </li>
                                    <li>Экспликация полов </li>
                                    <li>План-схема отопительных приборов и теплых полов </li>
                                    <li>План размещения сантехнического оборудования</li>
                                    <li>Спецификация приборов и оборудования</li>
                                    <li>Раскладка плитки по стенам</li>
                                    <li>План уровней потолков</li>
                                    <li>План освещения </li>
                                    <li>Спецификация светильников</li>
                                    <li>План розеток и выключателей </li>
                                    <li>Спецификация розеток и выключателей</li>
                                    <li>Развертки по стенам</li>
                                    <li>Ведомость отделочных материалов </li>
                                    <li>3D визуализация помещений </li>
                                    <li>Дополнительные чертежи </li>
                                    <li>Подбор материалов </li>
                                    <li>Авторский надзор  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--<button ng-click="showCalculator()" class="uk-align-center calc_button uk-button uk-button-default uk-button-large">Калькулятор</button>-->
                </div>
            </div>
        </section>


        <section id="calculator_section">
            <h2 class="small_paddings_h2">Калькулятор</h2>
            <div class="quote_about">
                <p class="uk-link-muted">
                    Для удобства создания дизайн-проекта Вашей квартиры мы предлагаем вам наши <a ng-click="slideDownDesignVariants()" href="#design_variants_section" uk-scroll="offset:50">базовые пакеты услуг</a>,
                    а также возможность выбрать только необходимые Вам услуги. Рассчитать стоимость услуг Вы можете самостоятельно,
                    воспользовавшись нашим <a ng-click="slideDownCalculator()" href="#calculator_section" uk-scroll="offset:30">калькулятором</a> или связавшись с нами.
                </p>
            </div>
            <button ng-click="showCalculator()" ng-hide="flag_calculator" class="uk-align-center calc_button uk-button uk-button-default uk-button-large">Рассчитать</button>
            <div id="calculator">
                <div class="calculator_wrapper uk-card uk-card-default uk-card-body">
                    <h3 class="uk-card-title center">Выберите необходимые Вам услуги</h3>
                    <p><b>Введите площадь вашей квартиры:</b>
                        <span style="white-space: nowrap"><input class="area_input" type="number" ng-model="area"> <b><span>м<sup>2</sup></span></b></span>
                    </p>
                    <div class="uk-column-1-2@m">
                        <div class="" ng-repeat="item in allPackagesItems">
                            <input class="hidden-xs-up cbx_input" id="cbx{{item.id}}" type="checkbox" ng-model="item.selected"/>
                            <label class="cbx" for="cbx{{item.id}}"></label>
                            <label class="lbl" for="cbx{{item.id}}">{{item.name}}</label>
                        </div>
                    </div>

                    <div class="result_wrapper center">
                        <b>Итого:</b><br>
                        <div class="result">{{result()}} </div>
                    </div>
                    <div class="buttons center">
                        <button ng-click="basicPackageItems()" class="uk-button uk-button-primary">Базовый</button>
                        <button ng-click="standardPackageItems()" class="uk-button uk-button-primary">Стандартный</button>
                        <button ng-click="complexPackageItems()" class="uk-button uk-button-primary">Комплексный</button>
                        <button ng-click="clearPackageItems()" class="uk-button uk-button-default">Очистить значения</button>
                    </div>
                    <button ng-click="closeCalculator()" class="close_calculator_button" type="button" uk-close></button>
                </div>
            </div>
        </section>


        <section class="small_gallery" id="small_gallery_section">
            <div class="uk-grid-collapse uk-child-width-expand" uk-grid>
                <div class="small_gallery_block"><img src="images/square_images/photo1s.jpg"></div>
                <div class="small_gallery_block"><img src="images/square_images/photo2s.jpg"></div>
                <div class="small_gallery_block hide450"><img src="images/square_images/photo3s.jpg"></div>
                <div class="small_gallery_block hide450"><img src="images/square_images/photo4s.jpg"></div>
            </div>
        </section>
        <section class="works" id="works_section">
            <h2>Our latest works</h2>
            <div class="works_wrapper">
            <div class="uk-child-width-1-2" uk-grid>
                <div uk-scrollspy="cls: uk-animation-slide-left;">
                    <div class="uk-card uk-card-hover uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="images/square_images/photo1s.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div uk-scrollspy="cls: uk-animation-slide-right;">
                    <div class="uk-card uk-card-hover uk-card-default">
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Bottom</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        <div class="uk-card-media-bottom">
                            <img src="images/square_images/photo2s.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid uk-scrollspy="cls: uk-animation-slide-left; ">
                <div class="uk-card-media-left uk-cover-container">
                    <img src="images/square_images/photo3s.jpg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Left</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-hover uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid uk-scrollspy="cls: uk-animation-slide-right; ">
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="images/square_images/photo4s.jpg" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Right</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <section class="gallery" id="gallery_section">
            <div class="gallery_wrapper">
                <h2>Gallery</h2>
                <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-match uk-grid-small " uk-grid uk-lightbox="animation: fade">
                    <div class="uk-text-center">
                        <a href="images/square_images/photo1s.jpg">
                        <div class="uk-inline-clip uk-transition-toggle">
                            <img src="images/square_images/photo1s.jpg" alt="">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="uk-h4 uk-margin-remove">Bottom</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="uk-text-center">
                        <a href="images/square_images/photo2s.jpg">
                        <div class="uk-inline-clip uk-transition-toggle">
                            <img src="images/square_images/photo2s.jpg" alt="">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="uk-h4 uk-margin-remove">Bottom</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="uk-text-center">
                        <a href="images/square_images/photo3s.jpg">
                        <div class="uk-inline-clip uk-transition-toggle">
                            <img src="images/square_images/photo3s.jpg" alt="">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="uk-h4 uk-margin-remove">Bottom</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="uk-text-center">
                        <a href="images/square_images/photo1s.jpg">
                        <div class="uk-inline-clip uk-transition-toggle">
                            <img src="images/square_images/photo1s.jpg" alt="">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="uk-h4 uk-margin-remove">Bottom</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="uk-text-center">
                        <a href="images/square_images/photo2s.jpg">
                        <div class="uk-inline-clip uk-transition-toggle">
                            <img src="images/square_images/photo2s.jpg" alt="">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="uk-h4 uk-margin-remove">Bottom</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="uk-text-center">
                        <a href="images/square_images/photo3s.jpg">
                        <div class="uk-inline-clip uk-transition-toggle">
                            <img src="images/square_images/photo3s.jpg" alt="">
                            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                                <p class="uk-h4 uk-margin-remove">Bottom</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
  </div>
  <footer id="footer_section">
      <div id="feedback_section" >
          <div class="feedback_wrapper" uk-grid>

              <div class="uk-width-3-5@m">

                  <form class="uk-form-horizontal uk-margin-large" action="" name="form-2">
                      <div class="uk-margin">
                          <label class="uk-form-label" for="form-name">Ваше Имя</label>
                          <div class="uk-form-controls">
                              <input class="uk-input name" name="name" id="form-name" type="text" placeholder="">
                          </div>
                      </div>
                      <div class="uk-margin">
                          <label class="uk-form-label" for="form-tell">Ваш телефон</label>
                          <div class="uk-form-controls">
                              <input class="uk-input tell" name="tell" id="form-tell" type="text" placeholder="">
                          </div>
                      </div>
                      <div class="uk-margin">
                          <label class="uk-form-label" for="form-email">Ваш e-mail</label>
                          <div class="uk-form-controls">
                              <input class="uk-input e-mail" name="e-mail" id="form-email" type="text" placeholder="">
                          </div>
                      </div>
                      <div class="uk-margin">
                          <label class="uk-form-label" for="form-text">Ваш вопрос/сообщение</label>
                          <div class="uk-form-controls">
                              <textarea class="uk-textarea text" rows="5" name="text" id="form-text" type="text" placeholder=""></textarea>
                          </div>
                      </div>
                      <input class="checkbox" name="checkbox" type="checkbox" checked hidden>
                      <input class="feedback" name="send" type="button" value="Отправить">
                  </form>



              </div>

              <div class="uk-width-2-5@m">
              </div>
          </div>

      </div>
      <div class="footer_hr"></div>
      <div class="footer_info_wrapper" uk-grid>
          <div class="uk-width-1-3 footer_block footer_logo">LOGO
          </div>
          <div class="uk-width-1-3 footer_block footer_about">
              <ul>
                  <li class="small_logo_footer"><a href="#" uk-scroll>LOGO</a></li>
                  <li ng-click="hide()"><a href="#about_section" uk-scroll="offset:30">О нас</a></li>
                  <li ng-click="hide()"><a href="#services" uk-scroll="offset:210" >Виды услуг</a></li>
                  <li ng-click="hide()"><a ng-click="slideDownDesignVariants()" href="#design_variants_section" uk-scroll="offset:50">дизайн интерьера</a></li>
                  <li ng-click="hide()"><a ng-click="slideDownCalculator()" href="#calculator_section" uk-scroll="offset:30">калькулятор</a></li>
                  <li ng-click="hide()"><a href="#works_section" uk-scroll="offset:30">Последние работы</a></li>
                  <li ng-click="hide()"><a href="#gallery_section" uk-scroll="offset:30">Галерея</a></li>
              </ul>
          </div>
          <div class="uk-width-1-3 footer_block footer_social">
              <div class="social_links">
                  <a href=""><div class="social vk transition"></div></a>
                  <a href=""><div class="social fb transition"></div></a>
                  <a href=""><div class="social inst transition"></div></a>
              </div>
          </div>
      </div>
      <div class="footer_copy">
          &copy; Архитектурная студия L-HOME 2017. УНП 111111111111. Все права защищены. Все визуальные материалы, размещенные на сайте,
          принадлежат архитектурной студии L-HOME. Копирование любых материалов третьими лицами, без письменного разрешения, запрещается.
      </div>
  </footer>


    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="feedback/js/jquery.jgrowl.js"></script>
    <script type="text/javascript" src="feedback/js/jquery.arcticmodal.js"></script>
    <script type="text/javascript" src="feedback/js/feedback.js"></script>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="Services/Factories/packagesFactory.js"></script>
    <script src="Services/Constants/calculatorConstants.js"></script>
    <script src="Controllers/mainController.js"></script>

</body>
</html>